# IC Final Analysis Tasks 1 to 4  

# Part I

# Table of Contents

This notebook is to provide better insight for customer profiling in terms of ads, bonus programs, and sales information.

1. Importing libraries and data set

2. Security Implications

3. Regional segmentation

- Creating regions column 

- Creating a variable with the spending flag in order to determine whether there’s a difference in spending habits between the different U.S. regions

4. Creating and exporting an exclusion flag for low-activity customers (customers with less than 5 orders)and exclude them from the data

# 1. Importing libraries and data set

In [1]:
# Importing libraries 
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

Defining and creating path, importing and then double checking imported merged project data set

In [2]:
# Defining path
path = r'/Users/renataherrera/Documents/CF RH 2023-2024/CF DATA IMMERSION/CF RH A4 PYTHON/RH_PYTHON_Instacart Basket Analysis'

In [3]:
# Checking path
path

'/Users/renataherrera/Documents/CF RH 2023-2024/CF DATA IMMERSION/CF RH A4 PYTHON/RH_PYTHON_Instacart Basket Analysis'

In [4]:
# importing orders_products_customer_merged.pkl data set as a df
df_final_customer = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_customer_merged.pkl'))

In [5]:
# Double checking the imported df
df_final_customer.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,...,order_frequency_flag,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [6]:
# checking shape and dimensions (columns and rows) of import
df_final_customer.shape

(32434212, 34)

# 2. Security implications

Consider any security implications that might exist for this new data. 
You’ll need to address any Personally Identifiable Information (PII) data in the data before continuing your analysis.

In [7]:
#Addressing any PII data in the data, therefore
#Dropping first_name and surname columns
df_final_customer = df_final_customer.drop(columns = ['first_name', 'surname'])

In [8]:
#Double checking the 2 columns drop
df_final_customer.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,...,spending_flag,median_previous_order,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Low spender,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Low spender,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Low spender,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Low spender,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Low spender,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423

In [9]:
# checking shape and dimensions (columns and rows)
df_final_customer.shape

(32434212, 32)

# 3. Regional segmentation

The Instacart officers are interested in comparing customer behavior in different geographic areas. Determine whether there’s a difference in spending habits between the different U.S. regions.

# Creating a regions column

In [10]:
#Checking States total
df_final_customer['state'].value_counts(dropna = False)

state
Pennsylvania            667710
California              660447
Rhode Island            657655
Georgia                 657072
New Mexico              655143
Arizona                 654545
North Carolina          652338
Oklahoma                652263
Alaska                  649020
Minnesota               648408
Massachusetts           647000
Wyoming                 644929
Virginia                642075
Missouri                641313
Texas                   641058
Colorado                639752
Maine                   639149
North Dakota            638999
Alabama                 638617
Louisiana               638174
Kansas                  637991
Delaware                637447
South Carolina          637348
Oregon                  636949
Arkansas                636706
New York                636697
Nevada                  636697
Montana                 635835
South Dakota            634340
Illinois                633490
Hawaii                  633445
Washington              633421
Mississippi             633103
Kentucky                632905
Michigan                631622
Florida                 629582
Ohio                    629001
Wisconsin               628552
New Jersey              628292
Indiana                 627768
Maryland                627278
Nebraska                626297
Iowa                    626029
Connecticut             623582
Tennessee               618396
New Hampshire           616006
District of Columbia    614293
West Virginia           612955
Utah                    612451
Vermont                 612256
Idaho                   607811
Name: count, dtype: int64

In [11]:
Midwest = ['Illinois', 'Indiana', 'Iowa', 'Kansas', 'Michigan', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'Ohio', 'South Dakota', 'Wisconsin']

In [12]:
West = ['Alaska','Arizona','California', 'Colorado','Hawaii', 'Idaho','Montana', 'Oregon', 'Nevada','New Mexico','Utah', 'Washington' 'Wyoming']

In [13]:
Northeast = ['Connecticut', 'Maine', 'Massachusettes', 'New Hampshire', 'New Jersey', 'New York', 'Pennsylvania','Rhode Island', 'Vermont']

In [14]:
South = ['Alabama', 'Arkansas', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Kentucky', 'Louisiana', 'Maryland', 'Mississippi', 'North Carolina', 'Oklahoma', 'South Carolina', 'Tennessee', 'Texas', 'Virginia', 'West Virginia']

# Using loc to create four regions categories from 50 States and 1 District.

In [15]:

df_final_customer.loc[df_final_customer['state'].isin(Midwest), 'region'] = 'Midwest'

In [16]:
df_final_customer.loc[df_final_customer['state'].isin(West), 'region'] = 'West'

In [17]:
df_final_customer.loc[df_final_customer['state'].isin(Northeast), 'region'] = 'Northeast'

In [18]:
df_final_customer.loc[df_final_customer['state'].isin(South), 'region'] = 'South'

In [19]:
# Checking regions by using a count to verify that the category is listed and that the regions are assigned
df_final_customer['region'].value_counts(dropna = False)

region
South        10801610
Midwest       7603810
West          7022095
Northeast     5081347
NaN           1925350
Name: count, dtype: int64

In [20]:
#Double checking the regions
df_final_customer.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,...,median_previous_order,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,region
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South
2,473747,1,prior,3,3,12,21.0,196,1,1,...,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South
4,431534,1,prior,5,4,15,28.0,196,1,1,...,20.5,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South

In [21]:
# checking dimensions (rows count for regions)
df_final_customer['region'].count()

30508862

# Creating a Spending Flag

# Creating a variable with the spending flag in order to determine whether there’s a difference in spending habits between the different U.S. regions

In [22]:
#Creating a crosstab 
#Comparing regions with spending_flag spending habits between the different U.S. regions 
regional_crosstab=pd.crosstab(df_final_customer['region'], df_final_customer['spending_flag'],dropna=False)

In [23]:
#Creating a clipboard to paste into Excel of regional_crosstab
regional_crosstab.to_clipboard()

In [24]:
#Checking crosstab
regional_crosstab

spending_flag  High spender  Low spender
region
Midwest              156129      7447681
Northeast             98662      4982685
South                210182     10591428
West                 132771      6889324

# Results of spending_flag: 
1. The South region has the highest count value of all four regions at 35%,
2. The Midwest at 25%
3. The West at 23%
and
4. The Northeast has the lowest count value at 17%.

In terms of comparing of High and Low Spenders overall for the four regions, the same results can be seen; The majority of customers at 98% are Low spenders, while only 2% are High spender.

# 4. Creating an Exclusion flag

The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

In [25]:
# Creating and exporting an exclusion flag for low-activity customers 
#(customers with less than 5 orders) and excluding them from the data
df_final_customer.loc[df_final_customer['max_order'] > 4, 'exclusion_flag'] = 'active customer'

In [26]:
df_final_customer.loc[df_final_customer['max_order'] <= 4, 'exclusion_flag'] = 'low activity customer'

In [27]:
df_final_customer['exclusion_flag'].value_counts(dropna=False)

exclusion_flag
active customer          30992664
low activity customer     1441548
Name: count, dtype: int64

In [ ]:
#Creating a subset to export low activity customers' data 
df_final_customer_low = df_final_customer[df_final_customer['exclusion_flag']=='low activity customer']

In [ ]:
#Exporting low subset data to file
df_final_customer_low.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_final_low_activity_customers.pkl'))

In [ ]:
#Deleting low activity from df
df_final_customer = df_final_customer[df_final_customer.exclusion_flag != 'low activity customer']

In [ ]:
#Checking if low activity removed correctly from df
df_final_customer.shape

In [ ]:
# Exporting removed new df to IC folder
df_final_customer.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','final_orders_products_active.pkl'))